* {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 900px;
  min-width: 900px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  line-height: 150%;
}

canvas {
  border: 1px solid #888888;
}
